:root {
    --main-color: hsl(240, 55%, 58%);
    --main-color-hover: hsl(240, 55%, 54%);
    --main-color-focus: hsl(240, 55%, 40%);
    --white: #ffffff;
    --white-hover: hsl(0, 0%, 95%);
    --subtle-border: #b3a5a5;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
    width: 100vw;
}


/*Landing Page*/
.main-cont {
    width: fit-content;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 9rem 4rem;
    text-align: center;
    font-size: 2em;
    margin: auto;
}

#landing-page>span:first-of-type {
    display: flex;
    flex-direction: column-reverse;
    gap: 1em;
}


#rel-logo {
    color: var(--main-color);
    font-size: 4em;
}

#essence-info.para {
    font-size: 2.5rem;
    line-height: 1.5;
}

.btn {
    font-size: 2rem;
    background-color: var(--main-color);
    padding: 2rem 2rem;
    border-radius: 2px;
    cursor: pointer;
    color: var(--white);
    font-weight: bold;
    border-radius: 10px;
}

.btn:hover {
    background-color: var(--main-color-hover);
    transition: background-color 0.2s ease-in-out;
}

.btn:focus {
    outline: 2px solid var(--main-color-focus);
}

#lp-btn {
    margin-top: auto;
    text-decoration: none;
}

#container {
    min-height: 100%;
    max-height: fit-content;
    width: 60%;
    min-width: fit-content;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
    border: 5px solid var(--main-color);
    border-radius: 10px;
}

header {
    color: var(--white, #ffffff);
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7em;
    line-height: 1.3;
    padding: 3em;
    font-size: 2em;
    text-align: center;
}

/*
Design for my github link
#dev {
    font-size: 1.5em;
    font-weight: bold;
} */


.quiz-container {
    height: calc(100%- 25em);
    padding: 2em 3em;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
    margin: auto 0;
}

input,
label,
select {
    cursor: pointer;
}


#selections {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    font-size: 1.5em;
    margin: auto 0;
}


form#selections>button {
    text-transform: uppercase;
    border: 0;
}

footer {
    grid-row: 3;
    background-color: black;
    color: white;
    padding: 2em 3rem;
}

/* #git-social {
    font-size: 1.7rem;
    text-decoration: none;
    color: white;
    margin-left: 0.5em;
} */




/* for the dynamically created elements*/

#question-form {
    width: 60em;
    height: 100%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0 auto;
    padding: 2em 5em;
    /* border: 2px solid green; */
}

#questionBox {
    height: 13rem;
    border: 1px solid var(--subtle-border);
    border-radius: 10px;
    font-size: 2rem;
    text-align: center;
    padding: 1.5rem;
}


/* the question options*/
.options {
    background-color: var(--white);
    color: black;
    border-color: var(--subtle-border);
    border-width: 1.5px;
    font-size: 2rem;
}

.options:hover {
    background-color: var(--white-hover);
}

.options.checked {
    background-color: var(--main-color);
    color: var(--white);
}

.options.checked:hover {
    background-color: var(--main-color-hover);
    color: var(--white);
}

#next-button {}

#back-button {}

#result-para {
    text-align: center;
    font-size: 4em;
    margin-bottom: 0.5em;
}

#reset-button {
    text-decoration: none;
    text-align: center;
}


@media (max-width:768px) {
    html {
        font-size: 8px;
    }

    #container {
        border: 0;
        width: 100%;
    }

    header {
        height: fit-content;
        padding: 1.5em;
    }

    #question-form {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 650px) {
    #questionBox {
        height: 9em;
    }
}